.header {
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
    color: white;
    padding: 0 10%;
    height: 10vh;
  }
  
  .header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .header li {
    margin: 0 1rem;
  }
  
  .header a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
  }
  
  .header a:hover,
  .header a:active {
    color: #ffbb00;
  }
  
  .header button {
    font-size: 1.25rem;
    background-color: #ffbb00;
    border: 1px solid #ffbb00;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #2c2922;
  }
  
  .header button:hover,
  .header button:active {
    background-color: #ffa600;
    border-color: #ffa600;
  }