.register-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .register-form-container{
    width: 35vw;
    color: white;
    border-radius: 10px;
    background-color: darkcyan;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .register-form{
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    width:25vw;
    display: flex;
    flex-direction: column;
  }
  
  .register-form label {
    text-align: left;
    padding: 0.25rem 0;
  }
    
  .register-form input {
    padding: 0.75rem;
    border-radius: 10px;
    font-size: 0.75rem;
  }
    
  .register-button {
    border: none;
    background-color:#ffa600;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0.5rem;
  }
    
  .login-link {
    color: #ffa600;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
 