
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: HoneyDew;
    ;
    color:white;
    
}
.container{
    background-color:darkcyan;
    text-align: center;
    border-style:solid;
    padding:20px;
    margin: 100px;

}
.s{
    padding:8px;
    width: 400px;
    margin:5px;
}
button{
    height:40px;
    width:120px;
    border-radius:10px;
    background-color:HoneyDew;
    color:black;
    border-width: 0px;
    font-size:18px;
    font-weight: 600;
}
h3{
    margin-bottom: 30px;
    text-decoration: underline;
    font-weight: 700;
    font-size: 30px;
}